* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: .5rem;
    width: 100vw;
}

.pokemons {
    display: grid;
    /*duas colunas paralelas*/
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.pokemons li {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    height: 140px;
    border-radius: 1rem;
    background-color: #14a06f;
    color: white;
}

.pokemons li img {
    width: 95px;
    
}